#blog {
  .page-header {
    height: 200px;
    background-image: url('./img/image1.jpg');
    background-attachment: fixed;
    background-position: 0 -360px;
    color: #fff;
    border-bottom: 1px solid #eee;
    padding-top: 50px;
  }
}
